

@tailwind base;
@tailwind components;
@tailwind utilities;




.canv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:5rem;
}


@keyframes spin-slow {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}

.background-pattern {
  background-image: radial-gradient(circle at 2px 2px, rgba(0,0,0,0.1) 1px, transparent 0);
  background-size: 20px 20px;
}


@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}